
header{
    background-color: crimson;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100px;
    margin-left: 0px;
    padding-left: 0px;
}

li{
    margin-left: 50px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

main div{
    margin-top: 50px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

div img{
    width: 250px;
    height: 250px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 5px;
    border-color:  black;
    border: solid;

}

p{
    margin-top: 25px;
   margin-left: 15px;
}

a{
    font-size: 15px;
    color: aliceblue;
    text-decoration: none;
    
}

a:hover{
    color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

































footer{
   background-color: black;
   width: 100%;
}

footer p{
    color:white;
 }